@model BTL_ASP.NET_Nhom7.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    var orderDetails = ViewBag.OrderDetails as List<BTL_ASP.NET_Nhom7.Models.OrderDetails>;
}

<h2>Chi tiết hóa đơn</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã hóa đơn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            Điện thoại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Phone)

        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)

        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            Sản phẩm đã đặt:
        </dt>
        @foreach (var item in orderDetails)
        {
            <dd>@item.Product.ProductName : @item.Quantity sản phẩm</dd>
        }
        <dd>Tổng tiền: @ViewBag.TotalPrice VNĐ</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>
