@model PagedList.IPagedList<BTL_ASP.NET_Nhom7.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách sản phẩm
}
<style>
    td {
        text-align: justify;
    }

        td p {
            max-height: 100px;
            overflow: hidden;
        }
</style>
<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Danh mục
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Giá bán
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Dung tích
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>
                    @Html.DisplayFor(modelItem => item.Catalogy.CatalogyName)
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <p>
                    @Html.DisplayFor(modelItem => item.Description)

                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img width="100px" src="~/Assets/User/images/@item.Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
